body {
    font-family: 'Arial', 'sans-serif';
    font-size: 16px;
    color: #362023;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header {
    padding: 25px 100px;
    text-align: center;
}

main {
    height: 100%;
    padding-right: 25px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.viz-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.xy {
    cursor: default;
}

h1 {
    font-family: 'Montserrat';
    font-size: 40px;
    margin: 0;
    font-weight: normal;
}

#maps{
    position:absolute;
    height:80%;
    width:63%;
    left:1%;
    top:15%
}

#filter{ 
    position:absolute;
    border: solid black 2px;
    left:0;
    top: 0;
    width:100%;
    height:7.46%;
}
#total{ 
    
    left:0;
    top: 7.46%;
    width:50%;
    height:92.54%;
    position:absolute;
    border: solid black 2px
}
#arrond{ 
    left:50%;
    top: 7.46%;
    width:50%;
    height:92.54%;
    position:absolute;
    border: solid black 2px
}

#specie{
    position:absolute;
    width:20%;
    height:60%;
    left:10%;
    top:10%;
}

#date{
    position:absolute;
    width:20%;
    height:60%;
    left:40%;
    top:10%;
}

#diametre{
    position:absolute;
    width:20%;
    height:60%;
    right:10%;
    top:10%;
}

.cursor{
    position:absolute;
    bottom:-5px;
    font-size: 10px;
}

.min{
    left:10px;
}

.max{
    right:10px;
}
