body {
    font-family: 'Arial', 'sans-serif';
    font-size: 16px;
    color: #362023;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header {
    padding: 25px 100px;
    text-align: center;
}

main {
    height: 100%;
    padding-right: 25px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    /* padding-bottom: 81%;  */
}

.viz-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.xy {
    cursor: default;
}

h1 {
    /* font-family: 'Montserrat'; */
    font-family: 'Arial';
    color: #362023;
    font-size: 40px;
    margin: 0;
    font-weight: normal;
}

h6 {
    display:flex;
    margin:0;
    justify-content: center;
}

#maps{
    position:absolute;
    height:570px;
    width:98%;
    left:1%;
    top: 100px;
}

#filter{ 
    position:absolute;
    border: solid rgb(160, 160, 160) 2px;
    left:0;
    top: 0;
    width:100%;
    height: 61px;
}
#total{ 
    
    left:0;
    top: 11%;
    width:50%;
    height:92.54%;
    position:absolute;
    border: solid rgb(160, 160, 160) 2px;
    border-right: none;
}
#arrond{ 
    left:50%;
    top: 11%;
    width:50%;
    height:92.54%;
    position:absolute;
    border: solid rgb(160, 160, 160) 2px;
}

#text_filter{
    position:absolute;
    width:20%;
    height:60%;
    left:2%;
    top:10%;
}

#specie{
    position:absolute;
    width:20%;
    height:60%;
    left:12%;
    top:10%;
}

#date{
    position:absolute;
    width:20%;
    height:60%;
    left:40%;
    top:5%;
}

#diametre{
    position:absolute;
    width:20%;
    height:60%;
    right:10%;
    top:5%;
}

#barCharts{
    position:absolute;
    height: 550px;;
    width:98%;
    left:1%;
    top: 690px;
}

#divBarChartVille{ 
    left:0;
    top: 5%;
    width:50%;
    height:92.54%;
    position:absolute;
    border: solid rgb(160, 160, 160) 2px;
    border-right: none;
}
#DivBarChartArrond{ 
    left:50%;
    top: 5%;
    width:50%;
    height:92.54%;
    position:absolute;
    border: solid rgb(160, 160, 160) 2px
}

#swarm{
    position:absolute;
    height: 680px;
    width:98%;
    left:1%;
    top: 1255px;
    border: solid rgb(160, 160, 160) 2px;
    margin-bottom: 100px;
}

#espece_swarm{
    position:absolute;
    /* height:10%; */
    width:25%;
    /* left:1%; */
    margin: 10px;
    /* top:1%; */
    /* border: solid black 1px */
}

#texte_especes_arbres{
    position:absolute;
    height:80%;
    width:65px;
    left:15px;
    top:10%;
    /* border: solid black 1px */
}

#swarm_plot{
    position:absolute;
    height:80%;
    width:88%;
    left:80px;
    top:10%;
    /* border: solid black 1px */
}

#swarm_legend{
    position:absolute;
    height:10%;
    width:80%;
    left:10%;
    top:85%;
    /* border: solid black 1px */
}

#bulle5{
    position:absolute;
    /* height:10%; */
    /* width:80%; */
    left:40%;
    /* top:85%; */
    /* border: solid black 1px */
}

#bulle5{
    position:absolute;
    /* height:10%; */
    /* width:80%; */
    left:50%;
    top:20px;
    /* border: solid black 1px */
}

#bulle10{
    position:absolute;
    /* height:10%; */
    /* width:80%; */
    left:60%;
    top:15px;
    /* border: solid black 1px */
}

#bulle20{
    position:absolute;
    /* height:10%; */
    /* width:80%; */
    left:70%;
    top:10px;
    /* border: solid black 1px */
}

#bulle30{
    position:absolute;
    /* height:10%; */
    /* width:80%; */
    left:80%;
    top:5px;
    /* border: solid black 1px */
}

.cursor{
    position:absolute;
    font-size: 10px;
    top:25px;
}

.slider .rc-slider-handle {
    width: 10px; 
    height: 10px;
    top:7px;
}

.min{
    left:10px;
}

.max{
    right:10px;
}
